.card{
  font-family: 'Nunito', sans-serif;
}
table{
    width:90%;
  font-family: 'Nunito', sans-serif;
}
th{
    text-align:left;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
  }
td{
   font-family: 'Nunito', sans-serif;
   font-weight:400;
   padding: 16px;
}
h2{
  display:block;
} 
table th{
  background-color:#9D2143;
  color:white;
  padding:1rem;
}
.text-xs{
   font-family: 'Nunito', sans-serif;
   font-weight:400;
   font-size:13px;
   margin: 0 5px;

}
.above{
  display:flex;
  width:100%;
 justify-items: space-between;
 align-items: center;
}

.above select{
   width:100px;
   height:50px;
   border-radius:4px 4px 4px 4px;
   outline:none;
}
.card{
  background: white;
    padding: 25px;
    border-radius: 6px;
    width: 90%;
}
.card section{
  display:flex; 
  justify-content:space-between;
}
.pages{
  width:100px;
 height:50px;
 border-radius:4px 4px 4px 4px;
  outline:none;
}
.both{
  display:flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: column;
  color: #9D2143;
}
.both input{
  width:150px;
  height:20px;
  border-radius:4px 4px;
  outline:none;
  
}
.both button{
  height:25px;
  border-radius:2px 2px;
  background-color:#9D2143;
  color:white;
  outline: none;
  border: none;
  transition:ease-in-out 0.5s;
}
.both button:hover{
  background-color:white;
  color: #9D2143; 
}
.sunny{
  width:300px;
  margin: auto;
}
.sunny button{
 background-color:#9D2143;
  color:white;
  outline:none;
  border:none;
   transition:ease-in-out 0.5s;
}
.sunny button:hover{
    background-color:white;
    color: #9D2143; 
}

.slider {
  position: relative;
  width: 7.9%;
  display: flex;
  overflow: hidden;
}
.slide {
  width: 100%;
  height: 100%;
}
.cover {
  width: 90%;
  margin: auto;
}
.inside {
  display: flex;
}
.jack {
  position: absolute;
  right: 28%;
  top: 43%;
  width: 174px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 4;
}

.nextBtn {
  color: rgba(218, 165, 32, 0.548);
  background: none;
  outline: none;
  border: none;
  display: block;
  font-size: xx-large;
  z-index: 4;
  cursor: pointer;
}

.prevBtn {
  color: rgba(218, 165, 32, 0.548);
  background: none;
  display: block;
  outline: none;
  border: none;
  font-size: xx-large;
  z-index: 4;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  * {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

  .main h3 {
    font-size: 15px;
    color: #141314ea;
    font-weight: 500;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.order {
  z-index: 5;
  position: absolute;
  right: 2%;
  color: #9D2143;
  width: 84px;
  height: 50px;
  outline: none;
  border: none;
  background: none;
}

p {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 1rem;
}
}


@media screen and (min-width: 360px) {

  .main h3 {
    font-size: 9px;
    color: #141314ea;
    font-weight: 500;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.above select {
  width: 50px;
  height: 35px;
  border-radius: 4px 4px 4px 4px;
  outline: none;
}

.order {
  z-index: 5;
  position: absolute;
  right: 2%;
  color: #9D2143;
  width: 46px;
  height: 16px;
  outline: none;
  border: none;
  background: none;
}

.h4, h4 {
  font-size: -0.5rem;
}
p {
  font-size: 8px;
  margin-top: 0;
  margin-bottom: 1rem;
}
.magic {
  position: relative;
  width: 34px;
  height: 19px;
  border-radius: 10px 10px;
  outline: none;
  border: 1px solid #9D2143;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-size: large;
  color: #9D2143;
  justify-content: space-between;
}

.switch {
  position: absolute;
  height: 97%;
  border-radius: 50px;
  box-shadow: 2px 4px 6px rgb(0 0 0 / 50%);
  min-width: 17px;
  left: 0;
  background-color: #9D2143;
  border-radius: 10px 10px;
  transition: ease-in-out 0.5s;
}

.second {
  height: 29px;
  border-radius: 5px 5px;
  background: #9D2143;
  color: rgba(236, 231, 231, 0.904);
  padding: 10px;
  border: none;
  outline: none;
  transition: all 0.2s;
}

.boxTwo button {
  height: 41px;
  border-radius: 5px 5px;
  width: 46%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #9d214262;
  color: white;
}
.on {
  height: 46px;
  border-radius: 5px 5px;
  width: 55%;
  padding: 10px;
}
}
