.card{
  font-family: 'Nunito', sans-serif;
}
table{
    width:90%;
  font-family: 'Nunito', sans-serif;
}
th{
    text-align:left;
    font-family: 'Nunito', sans-serif;
    font-weight:400;
  }
td{
   font-family: 'Nunito', sans-serif;
   font-weight:400;
   padding: 16px;
}
h2{
  display:block;
} 
table th{
  background-color:#9D2143;
  color:white;
  padding:1rem;
}
.text-xs{
   font-family: 'Nunito', sans-serif;
   font-weight:400;
   font-size:13px;
   margin: 0 5px;

}
.above{
  display:flex;
  width:100%;
 justify-items: space-between;
 align-items: center;
}

.above select{
   width:100px;
   height:50px;
   border-radius:4px 4px 4px 4px;
   outline:none;
}
.card{
  background: white;
    padding: 25px;
    border-radius: 6px;
    width: 90%;
}
.card section{
  display:flex; 
  justify-content:space-between;
}
.pages{
  width:100px;
 height:50px;
 border-radius:4px 4px 4px 4px;
  outline:none;
}
.both{
  display:flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: column;
  color: #9D2143;
}
.both input{
  width:150px;
  height:20px;
  border-radius:4px 4px;
  outline:none;
  
}
.both button{
  height:25px;
  border-radius:2px 2px;
  background-color:#9D2143;
  color:white;
  outline: none;
  border: none;
  transition:ease-in-out 0.5s;
}
.both button:hover{
  background-color:white;
  color: #9D2143; 
}
.sunny{
  width:300px;
  margin: auto;
}

